.musicologist {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    max-height: 600px;
}

.chords {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.scaleName {
    width: 100px
}

.scaleBox {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.chordsBox {
    display: flex;
    flex-flow: column wrap;
    max-height: 100%;
}