.circleOfFifths {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    max-height: 600px;
}

.musicologist {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.chords {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.scaleName {
    width: 100px;
    text-align: right;
    padding-right: 15px;
    padding-top: 20px;
}

.scaleBox {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.scaleDescriptor {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    height: 100%;
    border-right: white solid 1px;
}

.chordsBox {
    display: flex;
    flex-flow: column wrap;
    max-height: 100%;
}