.circle {
    background: white;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 40px;
    position: relative;
}

.chordBox {
    position: absolute;
    background: red;
    min-width: 50px;
    min-height: 30px;
    color: white;
    font-size: small;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center
}
.chordBox:hover {
    background: darkred;
    border-bottom: darkorange 1px solid;
    border-right: darkorange 1px solid;
    border-top: red 1px solid;
    border-left: red 1px solid;}
