.search {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.searchInput {
    font-size: medium;
    display: flex;
    flex-flow: row;
}

.searchResults {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.searchResultsList {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}