body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.circle {
  background: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 40px auto 40px;
  position: relative;
  /* top: 200px; left: 200px; for example purposes only */
}

.circle-hold {
  position: absolute;
  left: 90px; /* calculate circle width / 2 - .square width / 2 */
  top: 90px; /* calculate circle height / 2 - .square height / 2 */
  /* transform: translate(-40%, -50%); */
}

.square {
  position: absolute;
  background: red;
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  transition: transform 2s linear;
  width: 20px;
  height: 20px;
  /* border-radius: 50%; */
  color: white;
  left: 0;
  font-size: small;
}
